# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
../2457807-big-trip-23/.idea
*.sublime*
.vscode
.idea

# Вспомогательные файлы
*.log*
node_modules/

# Собранные файлы (допишите самостоятельно)
